﻿@model Task23_Epam.Models.CommentModel

@{
    ViewBag.Title = "Guest";
}
@Styles.Render("~/Content/Guest.css")

<h2>@ViewBag.Title</h2>



@foreach (var comment in ViewBag.Comments)
{
    <div class="container">
        <img src="~/Images/user.png" alt="Avatar" style="width:90px">
        <p><span>@comment.Name</span>@comment.CommentDate</p>
        <p class="comment">@comment.Text</p>
    </div>
}


<div class="container">
    <h3>Your comment</h3>
    <form method="post">

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control rounded", @placeholder = "Your name" } })
            @Html.ValidationMessageFor(model => model.Name)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control rounded", @placeholder = "Write smth" } })
            @Html.ValidationMessageFor(model => model.Text)
        </div><br />

        <button type="submit" class="btn btn-primary mb-2">Send</button>
    </form>
</div>






@section Footer {
    <div>
        Icons made by
        <a class="foota" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        and  <a class="foota" href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a class="foota" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

}