﻿body {
}

a {
    color: aqua;
}

h3 {
    text-align: center;
}

.usercomment {
    width: 100%;
    height: 20px;
}

.comment {
    overflow: auto;
}

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
    }

    .container img {
        margin: auto;
        float: none;
        display: block;
    }
}

.editor-label {
    font-size: 20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    font-size: 16px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
