﻿@model IEnumerable<Task23_Epam.Models.NewsModel>

@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Index.css")


<h1 class="articlestitle">Articles</h1>

@foreach (var item in Model)
{
    <div class="article">
        <h2 class="topic">@item.Topic</h2><p>@item.DateOfNews</p>
        <p>@item.Content</p>
    </div>
}


@section Footer {
    <div>
        Icons made by
        <a class="foota" href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a class="foota" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

}